<div>
      <table class="selection" align="left">
            <tr>
                <td align=center><span class="dot" style="background-color: {{pcolor[0]}}"></span></td>
                <td align=center><span class="dot" style="background-color: {{pcolor[1]}}"></span></td>
                <td align=center><span class="dot" style="background-color: {{pcolor[2]}}"></span></td>
                <td align=center><span class="dot" style="background-color: {{pcolor[3]}}"></span></td>
            </tr>
      </table>
</div>
  