<div class="resultat">
    <table id="tblresultat"  align="left">
        <tr>
            <td align=center><span class="dot" id="cs1" [ngStyle]="{'background-color': essaicolor.c1 }" ></span></td>
            <td align=center><span class="dot" id="cs2" [ngStyle]="{'background-color': essaicolor.c2 }"></span></td>
            <td align=center><span class="dot" id="cs3" [ngStyle]="{'background-color': essaicolor.c3 }"></span></td>
            <td align=center><span class="dot" id="cs4" [ngStyle]="{'background-color': essaicolor.c4 }"></span></td>
        </tr>
    </table>
</div>
