table,
th,
td {
    border: 2px solid darkgrey;
}

tbody {
    white-space: nowrap;
}

th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}

.resultat {
    display: flex;
    flex-direction: column;
}

.dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    display: inline-block;
}