<div>
      <table id="tblresultat" class="resultat" align="left">
          <caption>Résultat</caption>
          <tr>
              <td style="background-color: white"><p id="cs1" style="background-color: white; color:black">Couleur 1</p></td>
              <td style="background-color: white"><p id="cs2">Couleur 2</p></td>
              <td style="background-color: white"><p id="cs3">Couleur 3</p></td>
              <td style="background-color: white"><p id="cs4">Couleur 4</p></td>
          </tr>
      </table>
</div>
  