.main{
      display: flex;
      flex-direction: row;
}
      
.color-selector{
      align-content: flex-start;
}

.resultat{
      align-content: flex-end;
}

.container{
      display: flex;
      flex-direction: row;
}