<div class="color-selector">
    <table class="selection" align="left">
            <tr>
                <td align=center><span class="dot" style="background-color: {{pcolor[0]}}"></span></td>
                <td align=center><span class="dot" style="background-color: {{pcolor[1]}}"></span></td>
                <td align=center><span class="dot" style="background-color: {{pcolor[2]}}"></span></td>
                <td align=center><span class="dot" style="background-color: {{pcolor[3]}}"></span></td>
            </tr>
    </table>

    <table align="left">
        <tr>
            <td align=center><span class="dot" style="background-color: green" (click)="choosecolor(1)"></span></td>
            <td align=center><span class="dot" style="background-color: blue" (click)="choosecolor(2)"></span></td>
            <td align=center><span class="dot" style="background-color: red" (click)="choosecolor(3)"></span></td>
        </tr>
        <tr>
            <td align=center><span class="dot" style="background-color: purple" (click)="choosecolor(4)"></span></td>
            <td align=center><span class="dot" style="background-color: yellow" (click)="choosecolor(5)"></span></td>
            <td align=center><span class="dot" style="background-color: brown" (click)="choosecolor(6)"></span></td>
        </tr>
        <tr>
            <td align=center style="background-color: rgba(255,0,0,0.1); color:red"><p id="reset" (click)="reset()">Reset</p></td>
            <td align=center><span class="dot" style="background-color: pink" (click)="choosecolor(0)"></span></td>
            <td align=center style="background-color: rgba(0,255,0,0.1); color: green" (click)="validate()">Valider</td>
        </tr>
    </table>
</div>



